//font family
$--font-family: "Montserrat";
$--font-style: normal;

// colors
$--primary-color: #42A1FF;
$--black: #000000;
$--dark-grey: #555555;
$--light-grey: #dcdcdc;
$--light-blue: #ecf1ff;
$--white: #ffffff;
$--white-lilac: #f6f7fc;
$--silver: #bdbdbd;
$--boulder: #7d7d7d;
$--crater-brown: rgba(85, 85, 85, 0.3);
$--red: #ff0000;
$--silver-chalice: #ababab;
$--concrete: #f3f3f3;
$--alto: #cfcfcf;
$--link-water: #d2def1;
$--hawkes-blue: #D1DCFB;
$--dodger-blue: #5A8BFF;
$--san-marino: #A2B1C9;
$--light-black: rgba(0, 0, 0, 0.1);
$--light-dark-grey: rgba(44, 38, 38, 0.8);
$--wind-sand: #F4F4F4;


// font size
$--heading-2: 32px;
$--heading-4: 24px;
$--heading-5: 18px;
$--body-1: 16px;
$--body-2: 14px;
$--body-3: 12px;
$--body-4: 10px;
$--body-5: 20px;

// line height
$--lh-32: 32px;
$--lh-30: 30px;
$--lh-18: 18px;
$--lh-28: 28px;
$--lh-37: 37px;
$--lh-16: 16px;
$--lh-22: 22px;
$--lh-26: 26px;
$--lh-14: 14px;
$--lh-20: 20px;
$--lh-15: 15px;
$--lh-24: 24px;
$--lh-72: 72px;

// font weight
$--w-regular: 400;
$--w-bold: 700;
$--w-500: 500;
$--w-300: 300;
$--w-600: 600;

// letter spacing
$--ls-15: 0.15px;
$--ls-25: 0.25px;
$--ls-35:0.035px;
$--ls-165: 1.65px;
$--ls-04: 0.04px;