.drop-down-outer-container{
  box-shadow: 2px 4px 8px rgba(0, 42, 88, 0.15);
  border-radius: 8px;
  padding: 16px 4px 16px 0;
  position:absolute;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  .drop-down-inner-container{
    overflow-y: auto;
  }
  .scroll-space{
    padding-right: 4px;
  }
}

.drop-down-option{
  display: flex;
  flex-direction: column;
  :hover {
    color:  $--black !important;
  }
}
.drop-down-value{
  font-weight: $--w-regular;
  font-size: $--body-1;
  line-height: $--lh-20;
  letter-spacing: $--ls-15;
  padding:8px 16px;
  -webkit-font-smoothing: antialiased !important;
}
.selected{
  .drop-down-value{
    font-family: $--font-family;
    font-style: normal;
    font-weight: $--w-regular;
    font-size: $--body-1;
    line-height: $--lh-20;
    letter-spacing: $--ls-15;
    color:  $--black !important;
  }
}