@media only screen and (min-width: 1024px) and (max-width: 1157px){
  .desktop-layout{
    background-image:url('https://d3s87pah5oatx.cloudfront.net/uploads/22f2204a-7d0d-41a3-8929-a3abeb990355/original/desktop-background-image.jpg') !important;
    padding: 32px 100px 24px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1157px) {
  .desktop-layout{
    padding: 32px 15% 24px 15%;
    background-image:url('https://d3s87pah5oatx.cloudfront.net/uploads/22f2204a-7d0d-41a3-8929-a3abeb990355/original/desktop-background-image.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 2000px) {
  .desktop-layout{
    padding: 32px 25% 24px 25%;
    background-image:url('https://d3s87pah5oatx.cloudfront.net/uploads/22f2204a-7d0d-41a3-8929-a3abeb990355/original/desktop-background-image.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1440px) {
  .desktop-layout{
    margin-top: 88px;
  }
}